<nav-bar></nav-bar>

<div class="video-container">
	<div class="video-format"

<h1> {{video.lessontitle}} </h1>
<!-- <iframe src="//content.jwplatform.com/players/v4GQk7Uq.html" width="480" height="270" frameborder="0" scrolling="auto" allowfullscreen></iframe> -->
<div id='myElement'></div>
​
This Lesson:
​
<!-- <p><a href="{{loadPlaylistItem(0)}}">{{video.playlist[0].title}}</a></p>
<p><a href="{{loadPlaylistItem(1)}}">{{video.playlist[1].title}}</a></p>
<p><a href="{{loadPlaylistItem(2)}}">{{video.playlise[2].title}}</a></p> -->

<p ng-repeat="video in playlist"><a href="{{loadPlaylistItem()}}">{{video.title}}</a></p>
​
​
</br>
​
​
Past Lessons:
<br>
​
<a href="{{loadVideo(playlistItem)}}">{{playlistItem.title}}</a>

<!-- <a href="javascript:loadVideo('hunter-peter', 'hunter-harbor-peace', 'hunter-adversity')">Howard W. Hunter- Lessons on Adversity - April 16, 1989 - Cohort -128</a> -->

<!-- <li><a href="{{loadVideo('DaveSmith_2')}}">Dave Smith's Big O lecture</a></li> -->
	</div>
</div>